/* RESETS */
html,body {height:100%;margin:0;padding:0;}
body {background:#fff url(../images/bg.gif) right top no-repeat;font:75%/1.5em helvetica,"helvetica neue",arial,sans-serif;color:#000;text-align:left;}
img {border:0;}
a {color:#344880;text-decoration:none;}
a:hover {text-decoration:underline;}
h2 {font:2em/1.5em HelveticaNeueLTStd-UltLt,"HelveticaNeueLT Std UltLt","Helvetica Neue Ultra Light","Helvetica Neue",HelveticaNeue-UltraLight,HelveticaLTStd-Light,Helvetica,Arial,sans-serif;font-weight:100;color:#000;margin:0;}
p {margin:0 0 1em 0;}

/* PAGE-SPECIFIC IDS */
#mainspc {position:relative;top:0;left:0;width:600px;margin:0 auto;padding:100px 0 0 0;}
#fbsharelink {color:#5aa2f1;}
#likespc {float:left;width:48%;margin:-10px 0 0 -10px;padding:0 4% 0 0;}
#messagespc {float:left;width:48%;margin:0;padding:0;}

/* PAGE-SPECIFIC CLASSES */
.biglink {font-size:1.6em;line-height:1.25em;display:block;margin-top:0.75em;}
.smallmessage {font-size:0.85em;color:#aaa;}
.clearall {height:1px;overflow:hidden;visibility:hidden;clear:both;}